body{
    background-color: #181f27;
    color: #d3e9ff;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.logoandnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background: #141c27;
    color: white;
}

.logoandnav a {
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.logoandnav a:hover {
    color: rgb(47, 47, 104);
}

.navbar {
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: rgb(38, 38, 91);
}
.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.freepik.com/free-photo/motherboard-circuit-technology-background-gradient-blue_53876-124645.jpg?t=st=1735745875~exp=1735749475~hmac=04ae820240a9168cce9d4d062dd2460e20623795006d4010b67d81741521f953&w=900');
    text-align: center;
}

.landingtitle {
    font-size: 3.6em;
    margin-bottom: 20px;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    text-shadow: 0 4px 6px rgba(187, 230, 241, 0.3);
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;
    padding-top: 0;
}

.landingtitle:hover {
    transform: scale(1.1);
    color: #e3edf0;
    text-shadow: 0 0 10px rgb(91, 128, 173), 0 0 20px #607b8f, 0 0 30px #7b78bc;
}
.landing p1 {
    font-size: 1.6em;
    margin: 0;
    font-style: italic;
    color: #f1f7f7;
}


.know-more-about-the-club {
    padding: 100px;
    text-align: center;
    background-color: #181f27;
}

.section-title {
    text-shadow: 0 0 10px rgb(64, 91, 113), 0 0 20px #7590a8, 0 0 30px #5a5778;
    font-size: 2.45em;
    margin-bottom: 40px;
    color: #b0caf4;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 50px;
    flex-wrap: wrap;
}

.know-more-about-the-club-heading {
    flex: 1;
    color: #ffffff;
    text-align: left;
    justify-content: left;
    font-size: 1.3em;
}

.know-more-about-the-club-gif img {
    display: flex;
    width: 600px;
    height: 400px;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .content-container {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .know-more-about-the-club-heading {
        max-width: 100%;
        text-align: left;
        padding-left: 0; 
        width: 100%; 
    }
    .know-more-about-the-club-gif img {
        max-width: 100%; 
        margin-top: 20px;
    }
}

.upcoming-events {
    padding: 50px 20px;
    background: #f4f4f4;
    text-align: center;
}

.upcoming-events-heading h1 {
    font-size: 2.5em;
    color: #333;
    text-shadow: 0 0 10px rgb(189, 194, 200), 0 0 20px #3b3c48, 0 0 30px #dbdbe3;
    margin-bottom: 10px;
}

.upcoming-events-heading p {
    font-size: 1.25em;
    color: #666;
    margin-bottom: 40px;
}

.upcoming-events-cards {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 10px;
    height: 450px;
    align-items: center;
}

.upcoming-events-cards::-webkit-scrollbar {
    display: none; 
}

.upcoming-events-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    flex: 0 0 auto;
    width: 300px;
    height: 420px;
    transition: transform 0.3s ease;
    position: relative;

}

.upcoming-events-card:hover,
.upcoming-events-card:active {
    transform: scale(1.1); 
    z-index: 1; 
}

.upcoming-events-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.upcoming-events-card h1 {
    font-size: 1.5em;
    padding: 30px;
    color: #003996;
    text-align: center;
}

.upcoming-events-card p {
    padding: 0 10px 20px;
    font-size: 1em;
    color: #666;
    text-align: center;
}

.events {
    margin: 0;
    padding-bottom: 30px;
    background: #181f27;
    text-align: center;
    overflow: hidden;
}

.eventsheading h1 {
    font-size: 2.5em;
    color: #b0caf4;
    text-shadow: 0 0 10px rgb(51, 69, 91), 0 0 20px #3b3c48, 0 0 30px #474778;
    margin-bottom: 10px;
}

.eventsheading p {
    font-size: 1.3em;
    color: white;
    margin-bottom: 20px;
}

.cards-transition {
    position: relative;
    overflow: hidden;
    width: 100%;

}

.cards {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: infinite-scroll 40s linear infinite; 
}

.cards:hover {
    animation-play-state: paused;
}

.card {
    background: rgb(218, 218, 218);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    width: 350px;
    height: 570px; 
    flex-shrink: 0;
}


.card img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.card h1 {
    font-size: 1.5em;
    padding: 10px;
    color: #003996;
    text-align: center;
    margin-bottom: 0;
}

.card p {
    padding: 0 10px 20px;
    font-size: 1.15em;
    color: #000000;
    text-align: center;
    margin-top: 0;
}

@keyframes infinite-scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.note {
    padding: 50px;
    background-color: #1CB5E0;
    color: #333;

}

.club-activities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 20px;
    background-color: #181f27; 
    color: #d3e9ff; 
    text-align: center;
}

.activities h2 {
    font-size: 2.3em;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    color: #b0caf4;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 150px;
    height: 150px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.activity:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.activity h1 {
    font-size: 2.5em;
    margin: 0;
    color: #fdd835; 
}

.activity p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #d3e9ff;
}

.comments-section {
    background-color: #181f27;
    color: #d3e9ff;

    text-align: center;
    border-radius: 10px;
    margin: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.comments-section h2 {
    font-size: 2.3em;
    margin-bottom: 20px;
    color: #b0caf4;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.comments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.comment {
    background-color: #273e5d;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.comment-text {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #d3e9ff;
}

.comment-author {
    font-size: 0.9em;
    font-style: italic;
    color: #fdd835;
}

.comment:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.connect {
    background-color: #181f27;
    color: #d3e9ff;
    text-align: center;
    padding: 50px 20px;
}

.connect h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.social-icon img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.social-icon img:hover {
    transform: scale(1.2);
}
